html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    /* color: #fff; */
    font-family: 'poppins',sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background: url(./images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    color: #fff; 
}

.orange{
    color: orangered;
}
.nav .logo{
    margin-left: 45px;
    font-size: 1rem;
    cursor: pointer;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;  
    z-index: 99999;
}

.menu > ul{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu > ul > li{
    
    margin-right: 65px;
    padding: 10px 0;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.menu > ul > li > a{
    text-decoration: none;
    color: #fff;
    position: relative;
}

.menu > ul > li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 3px solid orangered;
    transition: 0.6s ease;
}
.menu > ul > li >  a:hover::before{
    width: 100%;
}

/* ---------------------------  Dropdown menu for products ------------------------- */

#product {
    position: absolute;
    top: 60px;
    left: 63%;
    width: 116px;
    height: 120px;
    padding: 20px;
    background-color: black;
    color: white;
    visibility: hidden;
    opacity: 0;
}

.menu > ul > :nth-child(2):hover #product{
    visibility: visible;
    opacity: 100;
    transition: 0.4s all ease;
}

#product ul {
    list-style: none;
    margin-top: 10px;
    margin-left: -28px;
}
#product ul li{
    padding: 6px 0;
    font-size: 16px;
}
#product ul li a{
    text-decoration: none;
    color: white;
}

#product ul li a:hover{
    color: rgb(175, 175, 175);
    transition: 0.6 all ease;
}

/* ------------------------------- over -------------------------------------------- */

.header .icon {
    color: black;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 28%;
    right: 7%;
}

.header .icon i{
    padding: 15px 0;
    color: black;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 900;
}

.header .icon i:hover{
    color: rgba(0, 0, 0, 0.392);
    transform: translateY(-5px);
    transition: 0.4s ease;
}


.offer img{
    width: 20%;
    position: absolute;
    top: 42%;
    left: 27%;
    cursor: pointer;
}

.offer img:hover{
    animation: shake 0.7s linear infinite;
}

/* For image shake */

@keyframes shake {
    0% {
        transform: rotate(3deg);
    }
    25%{
        transform: rotate(-4deg);
    }
    50%{
        transform: rotate(3deg);
    }
    75%{
        transform: rotate(-4deg);
    }
    100%{
        transform: rotate(3deg);
    }
}

.offer .content{
    position: absolute;
    left: 3%;
    top: 23%;
    color: black;
}

.offer .content h2{
    font-size: 4rem;
}

.offer .content p{
    font-size: 2rem;
    letter-spacing: 2px;
}

.offer .content span{
    color: red;
}

.offer .content .off{
    color: rgb(0, 168, 0);
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: normal !important;
    font-family: sans-serif;

}

.offer .content .btn{
    padding: 10px 20px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    margin-left: 0.2rem;
    cursor: pointer;
    letter-spacing: 1px;
}

#sign{
    background-color: rgb(26, 26, 65);
    letter-spacing: 1px;

}

#sign:hover{
    background-color: rgb(52, 52, 80);
    transform: translateY(-2px);
    transition: 0.5s ease;
}

.offer .content .btn:hover{
    background-color: rgb(235, 82, 27);
    transform: translateY(-2px);
    transition: 0.6s ease;
}

/* ------------------------------------For item Section------------------------------------- */

.items-details{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 50px;
    line-height: 10px;
    justify-content: space-between;
}

.items hr{
    width: 92%;
    border: 1px solid rgb(206, 206, 206);
    
}
.each-item{
    margin: 20px 10px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);
}

.each-item img{
    margin-bottom: 10px;
}

.items h2{
    text-transform: uppercase;
    margin: 50px 60px 0 59px;
    letter-spacing: 3px;
}

.items .each-item h3{
    text-transform: uppercase;
    margin: 5px 0 0 10px;
    font-size: 16px;

}

.each-item > p{
    color: rgb(119, 119, 119);
    font-size: 15px;
    margin-left: 10px;
}
.price{
    font-size: 14px;
    color: black !important;
    font-weight: bold;
}

.cut{
    font-size: 14px;
    margin: 0 10px;
    color: rgb(134, 134, 134);
    text-decoration: line-through;
}

.off{
    font-size: 14px;
    color: orangered;
}

/* ------------------------------------over------------------------------------- */


footer{
    width: 100%;
    background-color: rgb(247, 247, 255);
}

.footer{
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
}

.footer div h3{
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
}

.footer div ul{
    list-style: none;
}

.footer div ul li{
    line-height: 25px;
    color: #616161;
    font-family: sans-serif;
    margin-left: -38px;
    cursor: pointer;
}

.footer div .social-icon i{
    width: 30px;
    font-size: 25px;
    cursor: pointer;
}

.footer .original div{
    display: flex;
    font-family: sans-serif;
}

.footer .original div span{
    font-weight: bold;
    color: black !important;
}

.footer .original div p{
    color: #616161;
}

.footer .original div i{
    font-size: 30px;
    padding: 17px 10px;
    color: #616161;
}

.copyright{
    display: flex;
    justify-content: space-between;
    margin: -20px 200px 0px 200px;
    padding-bottom: 10px;
}

.copyright p{
    font-size: 16px;
    font-family: sans-serif;
    color: #616161;
}

.copyright span{
    color: rgb(0, 0, 186) !important;
    font-weight: bold;
    cursor: pointer;
}